<script type="text/javascript">

    //const DEBUG_MODE = true; if (DEBUG_MODE) {debugger;}
    const log = console.log;

    // Interrogate browser:
    const nativeNavLang = navigator.language.toLowerCase().substr(0, 2) || navigator.userLanguage.toLowerCase().substr(0, 2);

		// Store default:
		localStorage.setItem('defaultLang', nativeNavLang);

    // View: localStorage.setItem('nativeNavLang', nativeNavLang);
    if (nativeNavLang == 'it') {
      var navUserLang = 'it'
    } else {
      var navUserLang = 'en'
    };



    // Name `select`:
    const inputLanguage = document.querySelector("#inputLanguage");
    var prefLang = localStorage.getItem('inputLang');

    // Store default:
    localStorage.setItem('defaultLang', navUserLang);

    if (!prefLang) {
      var prefLang = navUserLang;
      localStorage.setItem('inputLang', navUserLang);
      forwardTo(prefLang);
    };

    if (prefLang) {
      //sync across `option` inputs
      inputLanguage.value = prefLang;
    };

    inputLanguage.onchange = function () {
      prefLang = inputLang.options[inputLang.selectedIndex].value;
      localStorage.setItem('inputLang', prefLang);
      forwardTo(prefLang);
      //sync across `option` inputs
      inputLanguage.value = this.value;
    };

    inputLanguage.onchange = function () {
      prefLang = inputLanguage.options[inputLanguage.selectedIndex].value;
      localStorage.setItem('inputLang', prefLang);
      forwardTo(prefLang);
      //sync across `option` inputs
      inputLang.value = this.value;
    };

    function forwardTo(prefLang) {
      var href = window.location.href;
      //log(href)
      log(prefLang)
      window.location.assign('/' + prefLang);
      /* if (prefLang == 'it') {
        window.location.assign('/' + prefLang);
      } else {
        window.location.assign('/' + 'en');
      } */
    };

  // A Crockford iife: https://stackoverflow.com/a/23925102/3429622
  (function () {
    if (window.location.href.substr(-3, 2) != prefLang) {
      window.location.assign('/' + prefLang);
    };

  }()); //onload

</script>
