<html lang="it" class="system overflow-y-auto smooth-scroll">
<head>
	<meta charset="utf-8">
	<!-- non-breaking-hyphen: &#8209; -->
	<title>▶InstantWebapp | Web design per un mondo di app</title><!-- &#9658; | A design service for boutique businesses -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/tachyon.shower.css">
	<script type="text/javascript">var _paq=window._paq||[];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function(){var u="//analytics.inspiredlabs.co.uk/";_paq.push(['setTrackerUrl',u+'matomo.php']);_paq.push(['setSiteId','11']);var d=document,g=d.createElement('script'),s=d.getElementsByTagName('script')[0];g.type='text/javascript';g.async=true;g.defer=true;g.src=u+'matomo.js';s.parentNode.insertBefore(g,s)})();</script>

<style>
.jetblack { color: #1a1a1a; }
.bg-jetblack { background-color: #1a1a1a; }
.b--jetblack { border-color: #1a1a1a; }

.hover-jetblack:hover,
.hover-jetblack:focus { color: #1a1a1a; }

.hover-bg-jetblack:hover,
.hover-bg-jetblack:focus { background-color: #1a1a1a; }
</style>
<style>
	::selection {background: #FF6D00}
	::-moz-selection {background: #FF6D00}
</style>
<style>
	.min-vh-50 {
		min-height: 50vh;

	}

	@media screen and (min-width: 30em) {
		.min-vh-50-ns {
			min-height: 50vh;

		}
	}

	@media screen and (min-width: 30em) and (max-width: 60em) {
		.min-vh-50-m {
			min-height: 50vh;

		}
	}

	@media screen and (min-width: 60em) {
		.min-vh-50-l {
			min-height: 50vh;

		}
	}
</style>
<style>
		#scrollSpy a,
		li {
			position: relative
		}

		li {
			display: table-cell
		}

		#scrollSpy a:after {
			top: 0;
			background: white;
			content: "";
			display: block;
			height: 4px;
			height: 0.2rem;
			left: 0;
			position: absolute;
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 0
		}

		#scrollSpy #buy li.active a:after,
		#scrollSpy #buy li.hover a:after {
			background: transparent !important;
		}

		#scrollSpy a:hover:after {
			width: 100%;
			left: 0;
		}

		#scrollSpy li.active {
			/* background-color: gainsboro;*/
		}

		#scrollSpy li.active a:after {
			width: 100%;
		}

</style>
<style>
	/*
	body{
		display: flex;
		justify-content: center;
		align-items: center;
	} */

		@supports(-webkit-appearance: none) or (-moz-appearance: none) {

			input[type='checkbox'],
			input[type='radio'] {
				-webkit-appearance: none;
				-moz-appearance: none;
			}
		}

		input[type='checkbox'] {
			height: 0;
			width: 0;
		}

		input[type='checkbox']+label {
			position: relative;
			display: flex;
			margin: .6rem 0;
			align-items: center;
			color: #9e9e9e;
			/*   transition: color 250ms cubic-bezier(.4,.0,.23,1);*/
		}

		input[type='checkbox']+label>span {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 1em;
			width: 1em;
			height: 1em;
			background: transparent;
			border: .5rem solid grey;
			cursor: pointer;
			transition: all 250ms cubic-bezier(.4, .0, .23, 1);
		}

		input[type='checkbox']:checked+label {
			color: var(--caribbean);
		}

		input[type='checkbox']:checked+label>span {
			background-color: var(--meadow);
			border: .5rem solid var(--caribbean);
			animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
		}

		input[type='checkbox']:checked+label>span:before {
			content: "";
			position: absolute;
			top: .86em;
			/*.95em*/
			left: .36em;
			/*.45em*/
			border-right: .3rem solid transparent;
			border-bottom: .3rem solid transparent;
			transform: rotate(45deg);
			transform-origin: 0% 100%;
			animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
		}

		@keyframes checkbox-check {
			0% {
				width: 0;
				height: 0;
				border-color: transparent;
				transform: translate3d(0, 0, 0) rotate(45deg);
			}

			33% {
				width: .2em;
				height: 0;
				border-color: white;
				transform: translate3d(0, 0, 0) rotate(45deg);
			}

			100% {
				width: .2em;
				height: 1em;
				border-color: white;
				transform: translate3d(0, -1em, 0) rotate(45deg);
			}
		}
</style>
<style>
		/******* SUPPORTED *****/
		/*
https://caniuse.com/?search=position%3Asticky
*/
		.sticky {
			position: -webkit-sticky;
			position: sticky;
		}

		/* cycling content typewriter effect */

		.part4 {
			animation: text4
		}

		.part3 {
			animation: text3
		}

		.part2 {
			animation: text2
		}

		.part1 {
			animation: text1
		}

		.part4,
		.part3,
		.part2,
		.part1 {
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
			position: relative;
			animation-duration: 12s;
			animation-timing-function: steps(25, end);
			animation-iteration-count: infinite;
			height: 10vh;
			/* Prevent clipping scaled text */
		}

		.part4::after,
		.part3::after,
		.part2::after,
		.part1::after {
			content: "|";
			position: absolute;
			right: 0;
			animation: caret infinite;
			animation-duration: 1s;
			animation-timing-function: steps(1, end);
		}

		@keyframes text4 {

			0%,
			25%,
			50%,
			75%,
			100% {
				width: 0;
			}

			80%,
			95% {
				width: 6.5em;
			}
		}

		@keyframes text3 {

			0%,
			25%,
			50%,
			75%,
			100% {
				width: 0;
			}

			55%,
			70% {
				width: 8.1em;
			}
		}

		@keyframes text2 {

			0%,
			25%,
			50%,
			75%,
			100% {
				width: 0;
			}

			30%,
			45% {
				width: 8.6em;
			}
		}

		@keyframes text1 {

			0%,
			25%,
			50%,
			75%,
			100% {
				width: 0;
			}

			5%,
			20% {
				width: 11.3em;
			}
		}

		@keyframes caret {

			0%,
			100% {
				opacity: 0;
			}

			50% {
				opacity: 0.7;
			}
		}
</style>
<style>
	/* Cycle inspiration: https://codepen.io/lardnicus/pen/dPwRzq */
	@-webkit-keyframes colours {
		0% {background-color: var(--electric-lime)}
		1% {background-color: var(--soccorso)}
		8% {background-color: var(--mandarino)}
		16% {background-color: var(--pumpkin)}
		24% {background-color: var(--raspberry)}
		32% {background-color: var(--grape)}
		40% {background-color: var(--plum)}
		48% {background-color: var(--prussia)}

		64% {background-color: var(--egyptian)}

		80% {background-color: var(--cobalt)}
		88% {background-color: var(--meadow)}
		96% {background-color: var(--caribbean)}
		100% {background-color: var(--electric-lime)}
	}
	@-moz-keyframes colours {
		0% {background-color: var(--electric-lime)}
		1% {background-color: var(--soccorso)}
		8% {background-color: var(--mandarino)}
		16% {background-color: var(--pumpkin)}
		24% {background-color: var(--raspberry)}
		32% {background-color: var(--grape)}
		40% {background-color: var(--plum)}
		48% {background-color: var(--prussia)}

		64% {background-color: var(--egyptian)}

		80% {background-color: var(--cobalt)}
		88% {background-color: var(--meadow)}
		96% {background-color: var(--caribbean)}
		100% {background-color: var(--electric-lime)}
	}
	.bg-cycle {
			-webkit-animation-direction: normal;
			-webkit-animation-duration: 48s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-name: colours;
			-webkit-animation-timing-function: ease;
			-moz-animation-direction: normal;
			-moz-animation-duration: 48s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-name: colours;
			-moz-animation-timing-function: ease;
	}
</style>

	<svg class="dn">
		<defs>
			<g id="instantwebapp">
				<!-- viewBox="0 0 512 512" -->
				<rect class="mexicano" x="293.5" y="165.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -68.5484 346.5097)" width="181" height="181" />
				<rect class="meadow" x="37.5" y="165.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -143.529 165.4903)" width="181" height="181" />
				<rect class="prussia" x="165.5" y="293.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -196.5484 293.4903)" width="181" height="181" />
				<polygon class="caribbean" points="0,0 128,128 0,256 " />
				<polygon class="cobalt" points="0,256 128,384 0,512 " />
				<polygon class="raspberry" points="512,512 384,384 512,256 " />
				<polygon class="electric-lime" points="256,0 128,128 0,0 " />
				<polygon class="grape" points="256,512 384,384 512,512 " />
				<polygon class="egyptian" points="0,512 128,384 256,512 " />
				<rect class="mandarino" x="165.5" y="37.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -15.529 218.5097)" width="181" height="181" />
				<polygon class="soccorso" points="512,0 384,128 256,0 " />
				<polygon class="pumpkin" points="512,256 384,128 512,0 " />
			</g>
		</defs>
	</svg>

</head>

<body class="pa0 ma0 bg-black" id="top">
	<div class="z-999 fixed bg-black w-100">
		<nav class="flex justify-between pv3
			mr-auto ml-auto
			ph2 ph2-ns ph4-m ph6-l">
			<a class="link no-underline white flex items-center" href="#home">
				<svg style="-webkit-transform: translate3d(0,0,0);" viewBox="0 0 512 512" class="dib  w1 h1 no-select" title="InstantWebapp">
					<use xlink:href="#instantwebapp"></use>
				</svg>
				<span class="dn dn-ns dib-m dib-l ttn tracked-none pr0 f5 f7-m ml2"><b>Instant</b>Webapp</span>
			</a>

			<ul id="scrollSpy" class="pa0 ma0 list flex-grow flex items-center dn dn-ns dib-m dib-l">
				<li>
					<a class="f7 f6-ns link dib dib o-50 glow white transition no-underline ph1 ph1-ns ph2-m ph3-l ttu tracked pv2" href="#cos-e">Cos’è</a>
				</li>
				<li>
					<a class="f7 f6-ns link dib dib o-50 glow white transition no-underline ph1 ph1-ns ph2-m ph3-l ttu tracked pv2" href="#design">Design</a>
				</li>
				<li>
					<a class="f7 f6-ns link dib dib o-50 glow white transition no-underline ph1 ph1-ns ph2-m ph3-l ttu tracked pv2" href="#come-funziona">Come funziona</a>
				</li>
			</ul>

			<div class="flex items-center">
				<!-- bg-light-silver -->
				<a class="f7 f6-ns link dib dib fw8 hover-cobalt white bg-cobalt grow transition hover-bg-white no-underline ph3 br-pill ttu tracked pv2 pointer" href="#scopri-di-piu">Scopri di più</a>
			</div>
		</nav>
	</div>
	<section class="w-100 flex flex-row-ns flex-column bg-cobalt bg-cycle white" id="home">
		<header class="flex vh-100 w-100
			mr-auto ml-auto
			ph4 ph2-ns ph4-m ph6-l
			">
		<div class="flex flex-column flex-grow-1 mt6">
			<h2 class="flex-auto fs-8vmin fs-5vmax lh-8vh fw2"><span class="part1">Gestione&thinsp;delle&thinsp;risorse&thinsp;digitali</span><span class="part2">Migliore visibilità SEO</span><span class="part3">Sviluppo strategico</span><span class="part4">Profitto derivato</span></h2>
				<h1 class="flex-auto ma0 o-100 f2 f-subheadline-m f-headline-l fs-14vmin fs-12vmax ts1-dark-gray">
					<span class="dn db-ns db-m db-l">Avvia. Gestisci. Espandi.</span>
					<span class="db dn-ns dn-m dn-l">Avvia</span>
					<span class="db dn-ns dn-m dn-l">Gestisci</span>
					<span class="db dn-ns dn-m dn-l">Espandi</span>
				</h1>
				<h3 class="flex-auto fs-8vmin fs-5vmax lh-8vh ">
					<span class="fw3">Il tuo business online</span>
				</h3>
			</div>
		</header><!-- fl w-100 -->
	</section>

<div id="cos-e" class="bg-white" ><!-- bg-jetblack -->
		<hr class="w-100 w-50-ns ma0 bn pt5 bg-meadow" >

	<section class="w-100 flex flex-row-ns flex-column bg-meadow" >
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Cos’è</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked">Premiate origini</h4>
				</header>
				<hr class="bt bb b--black-10 mb5" />
				<div class="serif lh-copy f4 ">
					<!-- DESCRIPTION LIST: //code-boxx.com/html-description-list/ -->
					<dl class="w-100 ">
						<dt class="b">Cos’è <dfn>InstantWebapp</dfn>?</dt>
						<dd class="ml0 ">
							<h1 class="f4"><i>InstantWebapp</i> è un trampolino di lancio per <i>servizi di grafica e progettazione web</i> su misura</h1>
							<p class="">Quando si tratta di costruire un attività online, un <b>imprenditore&nbsp;agile</b> deve trovare un compromesso tra <i>un’agenzia costosa</i> e <i>adattarsi a una soluzione esistente</i> (come
							<a class="link pointer black o-60 hover-o-100 underline transition " href="https://alternativeto.net/software/instantwebapp/about/">Wordpress, Squarespace o Wix</a>).
						</p>

						<blockquote class="ma0 pl0 ">&hellip;Ho sviluppato <i>InstantWebapp</i> perché io stesso mi sono trovato di fronte a una scelta simile – <cite>Scott&nbsp;Phillips, <a class="link pointer black o-60 hover-o-100 underline transition " href="https://inspiredlabs.co.uk/#email">InspiredLabs</a></cite></blockquote>
					</dd>
					<!-- D+SaaS -->
					<dd class="ml0 "><h2 class="f4"><i>InstantWebapp</i> è un SaaS (software as a service) creato da Scott Phillips <a class="link pointer black o-60 hover-o-100 underline transition " href="https://inspiredlabs.co.uk/museums-heritage-awards-winner/">grafico premiato con i</a> Museums Heritage 2012 Awards.</h2></dd>
					<!-- Mallinson's: https://www.mallinsonae.com/cairo-childrens-museum -->
				</dl>
				</div>
			</article>
			<!-- /measure -->
		</div>
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/2012-museum-heritage-award-winner.jpg) center;">
		</aside>
	</section>
	<section class="w-100 flex flex-row-ns flex-column bg-meadow">
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/startup-next.png) center;">
		</aside>
	<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
		<a class="pointer transition link" href="https://www.facebook.com/vaultarch/">
			<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<!-- mw5 mw2-ns mw5-m mw5-l -->
			<img src="https://instantwebapp.com/images/vaultarch-photo-thumb-02.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Andrew&nbsp;Buchanan">
			<blockquote class="ma0 pv3 pb0">
				<span class="db f4 mb2 dark-gray i serif fw5 pb2">
					Scott displayed energy,&nbsp;resource&shy;fulness <!-- He has good networking skills  -->&amp; an eye for the commercial factor

				</span>
				<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
					- <span class="b">Andrew&nbsp;Buchanan,</span> Vaultarch, Hong&nbsp;Kong</cite>
				</blockquote>
			</article>
		</a>
		</div>
	</section>
	<section class="w-100 flex flex-row-ns flex-column bg-meadow">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
			<a class="pointer transition link" href="http://www.sebsmith.com/">
				<!-- CONFIRM URL: https://uk.linkedin.com/in/urbanaut -->
				<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
					<!-- mw5 mw2-ns mw5-m mw5-l -->
					<img src="https://instantwebapp.com/images/sebsmith.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Seb&nbsp;Smith, Fashion Photographer, NYC"><!-- https://codepen.io/inspiredlabs/pen/BgYooY -->
					<blockquote class="ma0 pv3 pb0">
						<span class="db f4 mb2 dark-gray i serif fw5 pb2">
							I trust&nbsp;Scott's judgement to perform complex&nbsp;revisions over shoots for important&nbsp;clients</span>
						<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
							- <span class="b">Seb&nbsp;Smith</span> Fashion Photographer, NYC</cite>
						</blockquote>
					</article>
				</a>
			</div>
			<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/seb-smith-photo-00.jpg) center;">
			</aside>
		</section>
</div><!-- /about -->
<div id="design" class="bg-jetblack" >
	<hr class="w-100 w-50-ns ma0 bn pt5 bg-caribbean" >
	<section class="w-100 flex flex-row-ns flex-column bg-caribbean">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Design</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">A portata di mano</h4>
					</h4>
				</header>
				<hr class="bt bb b--black-10 mb5"/>
				<div class="serif lh-copy f4">
					<p>Con <i>InstantWebapp</i> puoi personalizzare la tua attività per trarne il massimo&nbsp;successo.</p>

					<p>Creata con i mattoncini più semplici del web, come HTML &amp;&nbsp;CSS, <i>InstantWebapp</i> è in grado di ridurre i rischi di produzione sui dispositivi preferiti dei tuoi clienti –&nbsp;e non&nbsp;solo.</p>

					<!-- For Tech Entreprenurs: -->
					<p>Ideata per imprenditori seri che vogliono offrire un’esperienza rifinita dal punto di vista tecnico, <i>InstantWebapp</i> ti permette di mettere in moto la tua attività commerciale su canali e dispositivi&nbsp;diversi.</p>

					<p>Messo a punto con dieci anni di  <a href="#feedback" class="link pointer black o-60 hover-o-100 underline transition ">sperimentazione</a>, <i>InstantWebapp</i> è un sistema fluido di grafica e progettazione web che fa leva sull’integrazione come parte preziosa del&nbsp;frontend.</p>
					<p>Però!</p>
				</div>
			</article>
			<!-- /measure -->
		</div>
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-pablowoodward-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://pablowoodward.netlify.app/" target="_blank">PabloWoodward.com</a>
			</div>
		</aside>
	</section>
</div><!-- /design -->

<div id="come-funziona" class="bg-jetblack" >
	<hr class="w-100 w-50-ns ma0 bn pt5 bg-electric-lime" >
	<section class="w-100 flex flex-row-ns flex-column bg-electric-lime" id="visibility">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1  ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Lancio</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked">Velocità in ogni dimensione</h4>
				</header>
				<hr class="bt bb b--black-10 mb5" />
				<div class="serif lh-copy f4 ">
					<!-- InstantWebapp is a product developed -->
					<p><i>InstantWebapp</i> è per imprenditori che <b>non perdono&nbsp;tempo!</b></p>

					<p>Con un progetto minimalista, possiamo avviare il lavoro immediatamente dopo aver concordato scadenze a un <i>prezzo&nbsp;fisso</i>. Avrai tutto quello di cui hai bisogno per seguire l’andamento del lavoro in base alle tue priorità, evitando&nbsp;sorprese.</p>

					<b>Cosa serve per lanciare il progetto?</b>
					<p>Basta digitare alcuni <a class="link pointer black o-60 hover-o-100 underline transition " href="#start">informazioni</a> dopo una consulenza iniziale, il resto è&nbsp;automatico.</p>
					<p>Un gioco da ragazzi.</p>
				</div>
			</article>
			<!-- /measure -->
		</div>
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-tdb-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://thediscobunny.com/" target="_blank">TheDiscoBunny.com</a>
				<!-- pv2 pv3-ns pv4-m pv4-l -->
			</div>

		</aside>
	</section>

	<!-- <hr class="w-100 w-50-ns ma0 bn pt5 bg-electric-lime" > -->

	<section class="w-100 flex flex-row-ns flex-column bg-soccorso">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Visibilità</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Fatti vedere sui motori di ricerca, e&nbsp;oltre</h4>
					</h4>
				</header>
				<hr class="bt bb b--black-10 mb5"/>
				<div class="serif lh-copy f4">
					<p><b>Scrivere è&nbsp;dura.</b></p>

					<p>È per questo che le agenzie non&nbsp;scrivono i tuoi contenuti ma ti vendono template da&nbsp;riempire.</p>

					<!-- joined-up thinking -->
					<p>Con InstantWebapp, la <i>strategia dei contenuti</i> è di serie per sviluppare la tua campagna multipiattaforma con video o&nbsp;stampa.</p>

					<p><b>Vuoi una migliore visibilità SEO?</b></p>
					<p>Se preferisci concentrarti completamente sulle esigenze dei tuoi clienti, potresti avere bisogno di una strategia di comunicazione più completa. Per esempio, se pubblichi contenuti regolarmente puoi <i>continuare</i> a essere trovato dai motori&nbsp;di&nbsp;ricerca.</p>
					<p>Perfetto.</p>
				</div>
			</article>
		</div>
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-multitool-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://inspiredlabs.co.uk/alteredfeast.co.uk/" target="_blank">Tom&nbsp;Clutterbuck</a>
			</div>
			<!-- https://twitter.com/TomClutterbuck -->
		</aside>

		<!-- <aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/IMG_3195.JPG) center; || profile.jpg">
		</aside> -->
	</section>
	<section class="w-100 flex flex-row-ns flex-column bg-soccorso">

		<div class="pa4 w-100 w-third-ns pa2-ns pv4-ns  flex-grow-1">
			<a class="pointer transition link" href="https://inspiredlabs.co.uk/alteredfeast.co.uk">
				<article class="mw5 mw2-ns mw5-m mw5-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
					<img src="https://instantwebapp.com/images/alteredfeast.png" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Tom&nbsp;Clutterbuck">
					<blockquote class="ma0 pv3 pb0">
						<span class="db f4 mb2 dark-gray i serif fw5 pb2">
							Scott made me a shiny app that created the perfect illusion that I knew what I was doing!
						</span>
						<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
							- <span class="b">Tom&nbsp;Clutterbuck,</span> Comedian &amp;&nbsp;Entrepreneur, South East,&nbsp;UK</cite>
						</blockquote>
					</article>
				</a>
			</div>
	</section>
	<section class="w-100 flex flex-row-ns flex-column bg-mandarino">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Identità</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked">Fai una buona prima&nbsp;impressione</h4>
				</header>
				<hr class="bt bb b--black-10 mb5" />
				<div class="serif lh-copy f4 ">
					<p>La combinazione giusta di look e contenuti è essenziale per il tuo brand. Con InstantWebapp, puoi scegliere di realizzare un logo distintivo con <i>due</i>&nbsp;iterazioni.</p>

					<b>Preferisci un marchio&nbsp;premium?</b>
					<p>Per dormire&thinsp;sonni&thinsp;tranquilli, un pacchetto di <i>consulenza&nbsp;grafica potrebbe</i> essere la scelta giusta per&nbsp;te.</p>

					<p>Puoi decidere di aggiungere questo servizio, per tutto il tempo che ne avrai bisogno e a un prezzo&nbsp;fisso.</p>
					<p>Facile.</p>
				</div>
			</article>
			<!-- /measure -->
		</div>


		<!-- src="images/localitysite.svg" -->
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc " style="background-color:#383838">
			<div class="sticky w-80 w-50-ns w-two-thirds-m w-two-thirds-l top-2 center pt5 mb5">
				<object type="image/svg+xml" data="https://instantwebapp.com/images/blurred.shadow.tandem.svg">
					<!-- Fall back:
					<img src="https://instantwebapp.com/images/blurred.shadow.tandem.svg">
					-->
				</object>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://tandemfestival.com/" target="_blank">Tandem&nbsp;Festival</a>
			</div>

		</aside>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-mandarino">
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/tandem-a3-poster.jpg) center;">
		</aside>
	<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
		<a class="pointer transition link" href="https://tandemfestival.com/">
			<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l mw5-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<img src="https://instantwebapp.com/images/nina-and-nico.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="nina-and-nico">
				<blockquote class="ma0 pv3 pb0">
					<span class="db f4 mb2 dark-gray i serif fw5 pb2">
						&hellip;he aced it</br>– that poster is so tasty!
					</span>
					<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
						- <span class="b">Niko&nbsp;O’&nbsp;Brian,</span> Musician &amp; Festival&nbsp;Entrepreneur, Oxford</cite>
					</blockquote>
				</article>
			</a>
		</div>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-mandarino">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
			<a class="pointer transition link" href="https://www.trustpilot.com/review/inspiredlabs.co.uk">
				<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
					<!-- mw5 mw2-ns mw5-m mw5-l -->
					<img src="https://instantwebapp.com/images/lomas.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="David&nbsp;Lomas">
					<blockquote class="ma0 pv3 pb0">
						<span class="db f4 mb2 dark-gray i serif fw5 pb2">
							Scott&nbsp;listened &amp; came up with the perfect solution that&nbsp;works. I really can't ask for&nbsp;more!
							<!-- Scott is easy to work with, taking the brief for my concept &amp; turning it into an impressive, workable solution. -->
						</span>
						<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
							- <span class="b">David&nbsp;Lomas,</span> Marketeer, Manchester&nbsp;UK</cite>
						</blockquote>
					</article>
				</a>
		</div>
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/instantwebapp.png) center;"></aside>
	</section>





	<section class="w-100 flex flex-row-ns flex-column bg-pumpkin" id="relevance">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1  ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Rilevanza</h3>
					<!-- <h4 class="f5 fw4 lh-title mt0 ttu tracked ">Business without borders</h4>-->
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Gestisci contenuti&nbsp;multilingue</h4>
				</header>
				<hr class="bt bb b--black-10 mb5 " />
				<div class="serif lh-copy f4 ">
					<p><b>Business senza&nbsp;frontiere!</b></p>
					<p>I clienti possono avere esigenze molto specifiche sul luogo d’origine dei propri&nbsp;fornitori.</p>
					<p>Trova un terreno comune con il tuo mercato di riferimento grazie a contenuti <i>tradotti</i> e visitatori diretti sulle pagine nella lingua&nbsp;giusta – in base alle loro preferenze, o del loro&nbsp;browser.</p>
					<p><b>Hai bisogno di content writing più&nbsp;sofisticato?</b></p>
					<p>Per massimizzare la rilevanza culturale dei tuoi contenuti, <a class="link pointer black o-60 hover-o-100 underline transition " href="https://inspiredlabs.co.uk/#email">InspiredLabs</a>&nbsp;offre servizi di <i>localizzazione e traduzione creativa</i> a un prezzo&nbsp;fisso.</p>

					<p>Sappiamo che i nostri clienti premium hanno bisogno di flessibilità per sviluppare le loro idee. Nessun&nbsp;problema: abbiamo un sistema di gestione dei contenuti snello e affidabile, pronto ad adattarsi al tuo modo preferito di&nbsp;lavorare.</p>
					<p>Ottimo, direi.</p>
				</div>
			</article>
		</div>

		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-alessandroronca-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="http://alessandroronca.it/" target="_blank">AlessandroRonca.IT</a>
			</div>
		</aside>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-pumpkin">
	<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/il-parco-dell-energia-rinnovabile-x2.jpg) center;">
	</aside>
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
			<a class="pointer transition link" href="https://uk.linkedin.com/in/urbanaut">
				<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
					<!-- mw5 mw2-ns mw5-m mw5-l -->
					<img src="https://instantwebapp.com/images/alessandro-ronca.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Alessandro&nbsp;Ronca">
					<blockquote class="ma0 pv3 pb0">
						<span class="db f4 mb2 dark-gray i serif fw5 pb2">
							<!-- Scott&nbsp;was hired to produce a series of custom&nbsp;webapps as a designer, programmer and&nbsp;writer. -->
							&hellip;with his vision and analytical ability Scott contributed enormously &amp; intelligently to our Renewable Energy&nbsp;Park
						</span>
						<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
							- <span class="b">Alessandro&nbsp;Ronca,</span> Scientific Director, Umbria&nbsp;Italy</cite>
						</blockquote>
					</article>
				</a>
			</div>
		</section>

	<section class="w-100 flex flex-row-ns flex-column bg-raspberry white" id="structure">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Struttura</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Organizza per&nbsp;informare</h4>
				</header>
				<hr class="bt bb b--white-80 mb5 " />
				<div class="serif lh-copy f4 ">
					<p>Ormai si sa, i <i>dati</i> sono la risorsa più preziosa che&nbsp;ci&nbsp;sia.</p>

					<p><b>E tu sai come estrarre valore dai <i>tuoi</i> dati?</b></p>
					<p><i>L’architettura dell’informazione</i> è un potente strumento per generare profitto. Qualunque siano le dimensioni della tua campagna, <a class="link pointer white o-80 hover-o-100 underline transition " href="https://inspiredlabs.co.uk/#email" >possiamo</a> migliorarne immediatamente la&nbsp;produttività.</p>

					<p>Produci un impatto con le informazioni che hai già in&nbsp;mano.</p>
					<p>Ideale.</p>

				</div>
			</article>
			<!-- /measure -->
		</div>

		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-per-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://umbria.netlify.app/" target="_blank">Sustability Research Center</a>
			</div>
		</aside>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-raspberry white">
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/greekfoods-01.jpg) center;">
		</aside>
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
		<a class="pointer transition link" href="https://greekfoods.co.uk/">
			<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<!-- mw5 mw2-ns mw5-m mw5-l -->
				<img src="https://instantwebapp.com/images/miliotis.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Mel&nbsp;Miliotis">
				<blockquote class="ma0 pv3 pb0">
					<span class="db f4 mb2 dark-gray i serif fw5 pb2">
						I used to think apps were out of reach for small businesses like ours… especially tailored to our&nbsp;customers
					</span>
					<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
						- <span class="b">Mel&nbsp;Miliotis,</span> Gourmet&nbsp;Supplier, South East &amp; Central&nbsp;England</cite>
					</blockquote>
				</article>
			</a>
		</div>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-plum white" id="unity">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Unità</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Chiarezza e&nbsp;coesione</h4>
					</h4>
				</header>
				<hr class="bt bb b--white-80 mb5"/>
				<div class="serif lh-copy f4">
					<p><i>InstantWebapp</i> è la soluzione giusta quando hai bisogno di una prospettiva nuova, senza abbandonare completamente ciò hai già&nbsp;costruito. La produzione multipiattaforma può avere un impatto ancora maggiore degli approcci&nbsp;tradizionali!</p>
					<p><b>Il vero <i>maestro</i> ha bisogno di una&nbsp;piattaforma.</b></p>

					<p>Dallo schermo alla stampa, dai social ai manifesti pubblicitari: <i>InstantWebapp</i> può aiutarti a costruire un&nbsp;movimento.
					</p>
					<p>Diffondi il valore della tua idea attraverso messaggi&thinsp;privi&thinsp;di&thinsp;gergo, immagini brillanti e interazioni&nbsp;attente.</p>
					<p>Non porre limiti alla tua prossima&nbsp;campagna&hellip;</p>
					<p>Ispira.</p>
				</div>
			</article>
			<!-- /measure -->
		</div>

		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-3-si.com-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://inspiredlabs.co.uk/3-si.com/" target="_blank">3Si, CRM solutions</a>
			</div>
		</aside>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-plum" id="3si">
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/marketing-material-01.jpg) center;"></aside>
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
			<a class="pointer transition link" href="https://inspiredlabs.co.uk/3-si.com">
				<article class="mw5 mw2-ns mw5-m mw5-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
					<img src="https://instantwebapp.com/images/chris.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Chris&nbsp;Sinclair, Director,&nbsp;3Si">

					<!-- <img src="https://instantwebapp.com/images/3-si.png" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Chris&nbsp;Sinclair, Director,&nbsp;3Si" style="filter: drop-shadow(0px 0.125rem 0.125rem #ccc);"> -->

					<blockquote class="ma0 pv3 pb0">
						<span class="db f4 mb2 dark-gray i serif fw5 pb2">
						Scott fully understands&nbsp;design, how things&nbsp;flow&nbsp;&amp; the way the message is conveyed to the&nbsp;user</span>
						<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
							- <span class="b">Chris&nbsp;Sinclair</span> Director,&nbsp;3Si</cite>
						</blockquote>
					</article>
				</a>
		</div>
	</section>



	<section class="w-100 flex flex-row-ns flex-column bg-prussia white" id="useful">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Utilità</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Dai valore alla produttività</h4>
					</h4>
				</header>
				<hr class="bt bb b--white-80 mb5"/>
				<div class="serif lh-copy f4">
					<p>Se non pensi in rete, i tuoi obiettivi commerciali sono destinati a&nbsp;fallire.</p>

					<p><b>La tua attività crea abbastanza&nbsp;valore?</b></p>
					<p>La grafica ti dà un vantaggio competitivo, dimostrando che comprendi le esigenze della tua clientela di&nbsp;nicchia. Con la grafica, puoi creare <i>interazione rapide</i> che rispettano il tempo di clienti che non hanno&nbsp;tempo.</p>

					<p><b>Le interazioni rapide incoraggiano il <i>customer&nbsp;lock‑in</i>.</b> Dando valore alla produttività ricompensi non solo il tuo business, ma anche i tuoi&nbsp;clienti!&nbsp;</p>

					<p>Geniale.</p>
				</div>
			</article>
			<!-- /measure -->
		</div>

		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-national-geographic-expeditions-02.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://codepen.io/inspiredlabs/pen/BgYooY" target="_blank">National&nbsp;Geographic Expeditions</a>
			</div>
		</aside>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-prussia">
		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/lion-1024-512.jpg) center;">
		</aside>
	<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
		<a class="pointer transition link" href="https://uk.linkedin.com/in/urbanaut">
			<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<!-- mw5 mw2-ns mw5-m mw5-l -->
				<img src="https://instantwebapp.com/images/national-geographic-expeditions.gif" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="National&nbsp;Geographic Expeditions"><!-- https://codepen.io/inspiredlabs/pen/BgYooY -->
				<blockquote class="ma0 pv3 pb0">
					<span class="db f4 mb2 dark-gray i serif fw5 pb2">
					<!-- &hellip;he -->Scott revolutionized the whole way of communicating with our&nbsp;clients</span>
					<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
						- <span class="b">Stefano&nbsp;Murrau</span> Lead&nbsp;Programmer, National&nbsp;Geographic Expeditions</cite>
					</blockquote>
				</article>
			</a>
		</div>
	</section>

	<section class="w-100 flex flex-row-ns flex-column bg-egyptian white" id="experience">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Feedback</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Test empirici</h4>
					</h4>
				</header>
				<hr class="bt bb b--white-80 mb5"/>
				<div class="serif lh-copy f4">
					<p>Grafica e progettazione web vanno di pari passo, ma raramente vengono fatte&nbsp;insieme. Con un po’ di fortuna, viene data priorità al test di accettazione dell'utente&nbsp;(<!--i>User Acceptance&nbsp;Testing</i-->UAT).</p>

					<p><b>Cosa dicono i tuoi client di te, o del tuo&nbsp;prodotto?</b></p>

					<p>Ripensando i silos in cui spesso vengono collocati grafica, sviluppo e&nbsp;UAT, <i>InstantWebapp</i> promuove le esigenze del cliente in modo&nbsp;olistico.</p>

					<p>Il tuo progetto beneficerà di una decade di test empirici&nbsp;integrati. Raccogliere feedback sulla grafica orientata al cliente è semplice! Basta testare presto, e farlo&nbsp;spesso.</p>

					<p>Fatti notare.</p>
				</div>
			</article>
			<!-- /measure -->
		</div>

		<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
			<div class="sticky w-100 top-0 pt4 mb5">
				<!-- pt4 -->
				<div class="min-vh-50 h5 mt4 cover" style="background:url({{ .Site.BaseURL }}images/iwa-national-geographic-expeditions-01.jpg) center;">
				</div>
				<a class="pointer tc ttu fw3 f7 tracked-mega hover-white transition silver  ph3 db mb3 link" href="https://codepen.io/inspiredlabs/pen/BgYooY" target="_blank">National&nbsp;Geographic Expeditions</a>
			</div>
		</aside>
	</section>



<section class="w-100 flex flex-row-ns flex-column bg-egyptian">
	<aside class="w-100 w-50-ns flex-column flex-grow-1 tc cover min-vh-50" style="background-color:#383838;background:url({{ .Site.BaseURL }}images/teaser-02.jpg) center;">
	</aside>
	<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1">
		<a class="pointer transition link" href="https://tandemfestival.com/">
			<article class="w-100 w-100-ns w-two-thirds-m w-two-thirds-l mw5 center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<!-- mw5 mw2-ns mw5-m mw5-l -->
				<img src="https://instantwebapp.com/images/nina-and-nico.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="nina-and-nico">
				<blockquote class="ma0 pv3 pb0">
					<span class="db f4 mb2 dark-gray i serif fw5 pb2">
					&hellip;an outstanding work&nbsp;ethic
					</span>
					<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
						- <span class="b">Nina&nbsp;Brown,</span> Festival&nbsp;Entrepreneur, Oxford</cite>
				</blockquote>
			</article>
		</a>
	</div>
</section>

<section class="w-100 flex flex-row-ns flex-column bg-egyptian">

	<div class="pa4 w-100 w-third-ns pa2-ns pv4-ns  flex-grow-1">
	<a class="pointer transition link" href="https://uk.linkedin.com/in/tanguyfautre">
		<article class="mw5 mw2-ns mw5-m mw5-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
			<img src="https://instantwebapp.com/images/spartans-thumb.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Tanguy&nbsp;Fautré">
			<blockquote class="ma0 pv3 pb0">
				<span class="db f4 mb2 dark-gray i serif fw5 pb2">
					&hellip;a particularly talented&nbsp;designer
				</span>
				<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
					- <span class="b">Tanguy&nbsp;Fautré,</span> Programmer, Aris Technologies</cite>
				</blockquote>
			</article>
		</a>
	</div>
	<div class="pa4 w-100 w-third-ns pa2-ns pv4-ns  flex-grow-1">
		<a class="pointer transition link" href="https://vimeo.com/124144694">
			<article class="mw5 mw2-ns mw5-m mw5-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<img src="https://instantwebapp.com/images/bowers-wilkins-thumb-01.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="Thomas&nbsp;Manns">
				<blockquote class="ma0 pv3 pb0">
					<span class="db f4 mb2 dark-gray i serif fw5 pb2">
						The conference started with Scott's animation, to rapturous applause
					</span>
					<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
						- <span class="b">Thomas&nbsp;Manns,</span> Creative&nbsp;Director, Thomas&nbsp;Manss &amp; Company&nbsp;London</cite>
					</blockquote>
				</article>
			</a>
		</div>
	<div class="pa4 w-100 w-third-ns pa2-ns pv4-ns  flex-grow-1">
		<a class="pointer transition link" href="https://www.npowersoftware.com/">
			<article class="mw5 mw2-ns mw5-m mw5-l center bg-white pb1-l pa3 pa4-ns pa3-m pa4-l ph3-l mv3 tc br4 shadow-5-hover transition">
				<img src="https://instantwebapp.com/images/siemens-napier.jpg" class="br-100 h4 w4 h3-ns w3-ns h4-m w4-m h4-l w4-l dib" title="nPower Booleans">
				<blockquote class="ma0 pv3 pb0">
					<span class="db f4 mb2 dark-gray i serif fw5 pb2">
						&hellip;a cut above the&nbsp;rest
					</span>
					<cite class="db f5 fw4 gray mt0 fs-normal sans-serif">
						- <span class="b">Advertisement feat. nPower Booleans,</span> Autodesk</cite>
					</blockquote>
				</article>
			</a>
		</div>
</section>
</div><!-- /features -->


<footer id="scopri-di-piu" class="bg-jetblack" >
	<hr class="w-100 w-50-ns ma0 bn pt5 bg-cobalt" >

	<section class="w-100 flex flex-row-ns flex-column bg-cobalt white">
		<div class="pa4 w-100 w-50-ns pa2-ns pv4-ns flex-grow-1 ">
			<article class="ml-auto mr-auto measure ">
				<header class=" pv4 tc ">
					<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir ">Scopri di più</h3>
					<h4 class="f5 fw4 lh-title mt0 ttu tracked ">Start tailoring business for success</h4>
					</h4>
				</header>
				<hr class="bt bb b--white-80 mb4"/>
				<div class="serif lh-copy f4 mb4">
					<p>Enter your details for a consultation:</p>
				</div>


					<form
					accept-charset=utf-8
					method=POST enctype="application/x-www-form-urlencoded"
					class="f5 f4-ns highlight system cf no-clutter"
					name="Contact"
					action="/done.html"
					netlify-honeypot="gotcha"
					netlify>
						<input name="subject" type="hidden" value="InstantWebapp inquiry" />
						<input name="gotcha" class="visually-hidden" />
						<div class=mb4>
							<label for=email class="f6 f5-ns ttu tracked-mega pl3">Address</label>
							<input type=email name=email id=email class=" input-reset br0 bn mt3 pa3 w-100 bg-white-80" placeholder="your@email.com" pattern="[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
						</div>

						<!--div class="mb4">
							<label for="business" class="f6 f5-ns ttu tracked-mega pl3">Tell me about yourself</label>
							<select class="mr0 select-reset input-reset br0 bn mt3 pa3 w-100 bg-white-80" id="business" name="business"
								onmouseover="onSite();" required="">
								<option value="startup" selected="" class="system">Startup entrepreneur</option>
								<option value="established" class="system">Established business</option>
								<option value="recruiter" class="system">Recruiter</option>
							</select>
						</div>

						<div class="mb4 dn db" id="opportunity">
							<label for="reason" class="f6 f5-ns ttu tracked-mega pl3">Opportunity</label>
							<select class="mr0 select-reset input-reset br0 bn mt3 pa3 w-100 bg-white-80" id="reason" name="reason"
								onmouseover="onSite();" required="">
								<option selected="" class="system">Consultancy</option>
								<option class="system">Remote contractor</option>
								<option class="system">In-house relocation package</option>
							</select>
						</div-->

						<div class=mb4>
							<label for=message class="f6 f5-ns ttu tracked-mega pl3">Message</label>
							<textarea class="mw-100 input-reset br0 bn mt3 pa3 w-100 bg-white-80" id=message name=message rows=4 placeholder="Your name or business details&hellip;" style="min-width:100%;" required></textarea>
							<!-- f5 f5-ns input-reset -->
						</div>
						<style>
							/* NOT Inclusively Hidden: css-tricks.com/inclusively-hidden/ */
							.visually-hidden {
								clip: rect(0 0 0 0);
								clip-path: inset(50%);
								height: 1px;
								overflow: hidden;
								position: absolute;
								white-space: nowrap;
								width: 1px;
							}

							.bg-cobalt-10 {
								background-color:hsla(201, 75%, 36%, var(--one) );
							}
							.bg-cobalt-20 {
								background-color:hsla(201, 75%, 36%, var(--two) );
							}
							.bg-cobalt-80 {
								background-color:hsla(201, 75%, 36%, var(--eight) );
							}
							.bg-cobalt-90 {
								background-color:hsla(201, 75%, 36%, var(--nine) );
							}
							.bg-cobalt {
								background-color:hsla(201, 75%, 36%, var(--ten) );
							}
						</style>
						<div class="fr cb cf mb3 mb6-ns mb3-m mb3-l bg-black ma0">
							<input class="transition input-reset pointer br0 f6 f5-ns b ph5 pv3 ba bw2-ns b--black white bg-cobalt-80 ttu tracked-mega hover-bg-near-black w-100 db b system"
							type=submit value=Send>
						</div>
					</form>

					<div class="serif lh-copy f4 mb6">
						<blockquote class="ma0 pl0 ">I look forward to hearing from you – <cite>Scott&nbsp;Phillips, <a class="link pointer white o-80 hover-o-100 underline transition " href="https://inspiredlabs.co.uk/#email">InspiredLabs</a></cite></blockquote>
					</div>

					<!-- github.com/danbocain/Avocado-Ipsum
					<p>Synchronise formation&hellip;</p>
					<ipsum>Avocado tortilla chicken. Ground beef taco spicy jalapeno sauce sour cream. Chimichanga avocado empanadas tortilla jalapenos. Red pepper guacamole spicy corn taco beef.  Avocado jalapeno tomato lime tacos. Mashed hass Avocado guacamole salsa dip. Carnitas tacos.</ipsum>

					<ipsum>Peach salsa nachos habanero peppers. Enchilada jalapeno sauce. Red pepper guacamole spicy corn taco beef. Refried bean avocado jalapeno lime zest. Mashed hass Avocado guacamole salsa dip. Nacho sour cream salsa avocado bean dip jalapeno. Tequila-lime, chicken quesadilla black beans. Creamy avocado chili chimichangas.</ipsum>

					<ipsum>Refried bean avocado jalapeno lime zest. Taco pork enchiladas. Creamy avocado chili chimichangas. Peach salsa nachos habanero peppers. Baked avocado mango peach salsa tostadas. Peach salsa nachos habanero peppers. Chicken bean hot tamales chili sauce lime burrito. Red pepper guacamole spicy corn taco beef.</ipsum>

					<ipsum>Gordita avocado habanero Tamale tortilla nacho beef. Hot beef cheese tamales. Gooey zesty guacamole baked burrito. Avocado tequila chili. Chicken pork cheese tacos. Nacho beef chimichanga tortilla Avocado.</ipsum>

					<ipsum>Ground beef taco spicy jalapeno sour cream. Avocado jalapeno tomato lime tacos. Taco burrito jalapeno avocado. Salsa enchiladas beans big green skin avocado. Mashed hass Avocado guacamole salsa dip. Carnitas tacos. Baked avocado mango peach salsa tostadas. Peach salsa nachos habanero peppers.</ipsum>
					-->



			</article>
			<!-- /measure -->
		</div>


			<aside class="w-100 w-50-ns flex-column flex-grow-1 tc bg-jetblack" >
				<div class="sticky w-100 top-0 pt4 pt5-l mb5">
					<!--
					I develop trust. Entrepreneurs use my design work 15+ years later to fulfil their mission, serve their community & communicate excellence. How can I help?
					-->

					<article class="mw5 center bg-white pa3 pa4-ns mv3 tc br4 shadow-5-hover transition">
						<img src="https://instantwebapp.com/images/base64-386x386.jpg" class="br-100 h4 w4 h2-ns w2-ns h3-m w3-m h4-l w4-l dib" title="Scott Phillips">
						<h1 class="f3 mb2 dark-gray">Scott Phillips</h1>
						<h2 class="f5 fw4 gray mt0"><!-- Creator, -->Designer &amp;&nbsp;Developer,<br><b>InspiredLabs</b></h2>
						<a class="pointer f8 fw4 tracked-mega ttu gray hover-black-80 transition link underline pv2 ph3 db" href="https://inspiredlabs.co.uk/#email" target="_blank">email</a>
						<a class="pointer f8 fw4 tracked-mega ttu gray hover-black-80 transition link underline pv2 ph3 db" href="https://twitter.com/inspiredlabs/" target="_blank">Twitter</a>
						<a class="pointer f8 fw4 tracked-mega ttu gray hover-black-80 transition link underline pv2 ph3 db" href="skype:theurbanaut?chat">Skype</a>
					</article>

					<!-- <a class="pointer f8 fw4 tracked-mega ttu gray hover-black-80 transition link underline pv2 ph3 db" href="https://github.com/inspiredlabs/" target="_blank">Github</a> -->
				</div>
			</aside>



	</section>


	<nav id="footer-nav">
		<section class="h5 bg-dark-gray"></section>
		<section class="h5 bg-near-black"></section>
		<section class="h5 bg-black"></section>
	</nav>
</footer>








	<!-- Javascript -->
	<script src="https://instantwebapp.com/js/smooth-scroll.min.js "></script>
	<script src="https://instantwebapp.com/js/gumshoe.js "></script>
	<script>var scroll = new SmoothScroll('a[href*="# "]');
		var spy = new Gumshoe('#scrollSpy a');</script>
</body>

</html>

<!-- <section class="w-100 flex flex-row-ns flex-column bg-cobalt white" id="cobalt">
	cobalt
</section>
<section class="w-100 flex flex-row-ns flex-column bg-meadow white" id="meadow">
	meadow
</section>
<section class="w-100 flex flex-row-ns flex-column bg-caribbean white" id="caribbean">
	caribbean
</section>
<section class="w-100 flex flex-row-ns flex-column bg-electric-lime white" id="electric-lime">
	electric-lime
</section>
<section class="w-100 flex flex-row-ns flex-column bg-soccorso white" id="soccorso">
	soccorso
</section>
<section class="w-100 flex flex-row-ns flex-column bg-mandarino white" id="mandarino">
	mandarino
</section>
<section class="w-100 flex flex-row-ns flex-column bg-pumpkin white" id="pumpkin">
	pumpkin
</section>
<section class="w-100 flex flex-row-ns flex-column bg-mexicano white" id="mexicano">
	mexicano
</section>
<section class="w-100 flex flex-row-ns flex-column bg-raspberry white" id="raspberry">
	raspberry
</section>
<section class="w-100 flex flex-row-ns flex-column bg-grape white" id="grape">
	grape
</section>
<section class="w-100 flex flex-row-ns flex-column bg-prussia white" id="prussia">
	prussia
</section>
<section class="w-100 flex flex-row-ns flex-column bg-egyptian white" id="egyptian">
	egyptian
</section> -->
