<!DOCTYPE html>
<!--
TODO LIST:

Sections:
overview
Design: Our design, your advantage.
  - Features/selling points /benefits to customer...
  - GDPR = Privacy matters. Period. GDPR is the law. That's why we prefer Protonmail, Matomo and avoid services that appear to abuse your personal data.
  - x
feedback:
  - ratings. He's like a friend of a friend. Take these references, see how happy they are.
contact
social
buy
-->
<html lang=en class="system overflow-y-auto smooth-scroll">


<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--link rel="stylesheet" type="text/css" href="./css/tmp.css"-->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/tachyon.shower.css">

<style type="text/css">

#scrollSpy a,
li {
position: relative
}

li {
display: table-cell
}


#scrollSpy a:after {
bottom:0;
background:black;
content: "";
display: block;
height: 4px;
height: 0.2rem;
left: 0;
position: absolute;
transition: width .3s ease 0s, left .3s ease 0s;
width: 0
}

#scrollSpy a:hover:after {
width: 100%;
left: 0;
}


#scrollSpy li.active {
/* background-color: gainsboro; */
}

#scrollSpy li.active a:after {
  width: 100%;
}

#contact {
/*background-color: #f42b37;*/
}

#design:active~hr {
margin-left: 25%;
}

#feedback:active~hr {
margin-left: 50%;
}

#contact:active~hr {
margin-left: 75%;
}

</style>

</head>







<body class="pa0 ma0" id="top">
  <section class="mw7 center">
    <article class="pv4 bt bb b--black-10 ph3 ph0-l">
      <div class="flex flex-column flex-row-ns">
        <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
          <h1 class="f3 athelas mt0 lh-title">Tech Giant Invests Huge Money to Build a Computer Out of Science Fiction
          </h1>
          <blockquote class="fs-normal f5 f4-l lh-copy athelas">
            The tech giant says it is ready to begin planning a quantum
            computer, a powerful cpu machine that relies on subatomic particles instead
            of transistors.
          </blockquote>
          <p class="f6 lh-copy gray mv0">By <span class="ttu">Robin Darnell</span></p>
          <time class="f6 db gray">Nov. 21, 2020</time>
        </div>
        
        <aside class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns center tc">
          <img class="w4 w4" src="images/136827.svg" alt="alt" />
        </aside>

      </div>
      
    </article>

    <article class="pv4 bt bb b--black-10 ph3 ph0-l">
      <div class="flex flex-column flex-row-ns">
        <div class="w-100 w-60-ns pr3-ns order-1 order-2-ns">
          <h1 class="f3 athelas mt0 lh-title">A whale takes up residence in a large body of water</h1>
          <blockquote class="fs-normal f5 f4-l lh-copy athelas">
            This giant of a whale says it is ready to begin planning a new swim later this afternoon. A powerful mammal that relies
            on fish and plankton instead of hamburgers.
          </blockquote>
          <p class="f6 lh-copy gray mv0">By <span class="ttu">S. Phillips</span></p>
          <time class="f6 db gray">Feb. 09, 2020</time>
        </div>
    
        <aside class="pl3-ns order-2 order-1-ns mb4 mb0-ns w-100 w-40-ns center tc">
          <img class="w4 w4" src="images/139871.svg" alt="alt" />
        </aside>
    
      </div>
      
    </article>
  </section>

<script>/*
<nav class="z-999 fixed bg-white w-100 f8 f7-ns f5-m f4-l "><!-- mw9 center ph3-ns -->
  <div class="cf ph2-ns flex justify-between">
    <div class="fl w-100 w-20-ns pa2 order-0">
      <a class="link no-underline black pv4 " href="#home">
        <span class="dib dib-ns dn-m dn-l pv4 o-50 glow">Home</span>
        <span class="dn dn-ns dib-m dib-l ttn tracked-none pv4 pr0">InstantWebapp</span></a></li>
    </div>
    <div class="fl dn dib-ns w-10-ns pa2"></div>
    <div class="fl w-100 w-50-ns pa2">
      <ul id="scrollSpy" class="list ttu tracked flex justify-end w-100 pa0 ma0 "><!--outline  pv4 -->
        <li class="pl3"><a class="link dib o-50 glow black pv4" href="#design">Design</a></li>
        <li class="pl3"><a class="link dib o-50 glow black pv4" href="#feedback">Feedback</a></li>
        <li class="pl3"><a class="link dib o-50 glow black pv4" href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="fl w-100 w-20-ns pa2 order-1 order-last-ns"><!-- justify-between -->
      <div class="outline bg-white flex justify-end pv4 ma0">
        <label class="dn dn-ns dn-m dib-l o-50 glow black" for="language">Language:</label>
        <select class="dib" id="language">
          <option selected>En<!-- <span class="dn dn-ns dib-m dib-l"> -->glish<!-- </span> --></option>
          <option>It<!-- <span class="dn dn-ns dib-m dib-l"> -->aliano<!-- </span> --></option>
        </select>
      </div>
    </div>
  </div>
</nav>
*/</script>
<script>/*
  <nav class="z-999 fixed bg-red w-100 f8 f7-ns f5-m f4-l"><!--   -->
    <ul id="scrollSpy" class="list ttu tracked flex justify-around w-100 pa0 ma0 ">
      <!-- <li class="pl0 left-0 relative"><a class="link dib dib-ns dn-m dn-l pv4 o-50 glow black pv4"
          href="#home">Home</a></li>
      <li class="pl0 left-0 relative"><a class="link dn dn-ns dib-m dib-l black pv4" href="#home">InstantWebapp</a></li> -->
      
      <li class="pl0 ">
        <a class="link no-underline black " href="#home">
          <span class="dib dib-ns dn-m dn-l pv4 o-50 glow">Home</span>
          <span class="dn dn-ns dib-m dib-l ttn tracked-none pv4 pr0">InstantWebapp</span></a></li>
      
      <span class="">
        <li class="pl3"><a class="link dib o-50 glow black pv4" href="#design">Design</a></li>
        <li class="pl3"><a class="link dib o-50 glow black pv4" href="#feedback">Feedback</a></li>
        <li class="pl3"><a class="link dib o-50 glow black pv4" href="#contact">Contact</a></li><!-- "enquire" "buy" "learn more" -->
      </span>
    </ul>
  </nav>
*/</script>

  <!-- bottom: -3px;
  bottom: -0.18rem; -->

  <div class="fixed bottom-0 pa3">
    <p><a data-scroll href="#top" class="b no-underline o-30 glow">Top</a></p>
  </div>

  <div class="mr-auto ml-auto w-100">
    <div class="grid">

      <main class="">
        <section class="pa2 pt5 bg-egyptian" id="home" >
          <!-- bg-washed-green dark-green ml-auto mr-auto w-50-->
          <article class="mw7 center ph3 ph5-ns tc br2 pv5 mb0 white ">

            <span class="fw2 f4 lh-copy mt0 mb3 db tc" lang=en>Do you have a company?</span>
            <span class="fw2 f4 lh-copy mt0 mb3 db tc" lang=en>Do you want to beat the competition?</span>
            <span class="fw6 f3 f2-ns lh-title mt0 mb3 db tc" lang=en>Let's find you then!</span>
            <span class="fw2 f4 lh-copy mt0 mb3 db tc" lang=en>With my help you can rank higher on Google.</span>
            <p class="fw1 f5 mt0 mb3 db tc" lang=en>Get in touch, or find out more:</p>
            <div>
              <a class="w-40 tc f6 br-pill  no-underline egyptian bg-white ba b--egyptian grow pv2 ph3 dib mr3"
                href="tel:+393408931544">+39 340 893 1544</a><!-- washed-green bg-egyptian ba b--egyptian -->
              <a class="w-third mr-auto ml-auto tc f6 br-pill white bg-near-black b--near-black no-underline ba grow pv2 ph3 dib"
                href="https://inspiredlabs.co.uk/">Portfolio</a>
            </div>
          </article>
        </section>
        <section class="vh-100 w-100 ma0 pa0 white dt bg-prussia" id="design"><!--  -->
          <h4 class="dn dib-ns ph3 pv2">Share:</h4>
          <ul class="list tracked-m tracked-l ttu mb3 pl0 b">
            <li class="f8 f7-ns f5-m f4-l ph0 pv2 ph2-ns  pv2-ns br0 "><a href=""
                class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 link bg-facebook">facebook</a></li>
            <li class="f8 f7-ns f5-m f4-l ph0 pv2 ph2-ns  pv2-ns br0 "><a href=""
                class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 link bg-twitter">twitter</a></li>
            <li class="f8 f7-ns f5-m f4-l ph0 pv2 ph2-ns  pv2-ns br0 "><a href=""
                class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 link bg-linkedin">LinkedIn</a></li>
            <li class="f8 f7-ns f5-m f4-l ph0 pv2 ph2-ns  pv2-ns br0 "><a href=""
                class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 link bg-protonmail">email</a></li>
            <!--li class="f8 f7-ns f5-m f4-l ph0 pv2 ph2-ns ph2-m ph3-l pv2-ns br0 "><a href="" class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 link bg-pinterest">Pinterest</a></li-->
          </ul>

          <div class="flex items-center w-100">
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/136827.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/134641.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <div class="flex items-center w-100">
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/138068.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/139871.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <!-- new -->
          
          <div class="flex items-center w-100">
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/140785.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/141367.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <div class="flex items-center w-100">
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/149226.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/149304.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <!-- new -->
          
          <div class="flex items-center w-100">
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/149419.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/149384.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <div class="flex items-center w-100">
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/149381.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/149350.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <!-- new -->
          
          <div class="flex items-center w-100">
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/259807.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/233096.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <div class="flex items-center w-100">
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/227121.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/151494.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          <!-- new -->
          
          <div class="flex items-center w-100">
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/493092.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/461627.svg" alt="alt" />
              </aside>
            </div>
          </div>
          
          
          <div class="flex items-center w-100">
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/362215.svg" alt="alt" />
              </aside>
            </div>
            <div class="bg-gray fl w-100 w-50-ns red">
              <aside class="tc pa4">
                <img class="w4 w4" src="images/271549.svg" alt="alt" />
              </aside>
            </div>
          </div>

          <article class="cf" id="xyz">
            <div class="fl w-100 w-50-ns pa3 pa2-ns">
              <div class="ml-auto mr-auto measure">
                <header class=" pv4 tc">
                  <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Mauw</h3>
                  <h4 class="f5 fw4 lh-title mt0 ttu tracked">Yeah, yeah, yeah.</h4>                  
                </header><hr class="bb b--white-70" />
                <main class="serif lh-copy f4">
                  <p>Why not?</p>
                  <p>Just because.</p>
                  <p>PabloWoodward. Etc...</p>
                </main>
              </div>
            </div>
            <div class="bg-white fl w-100 w-50-ns green">
              <aside class="tc pa4 ">
                <img class="w4 w4" src="images/271549.svg" alt="Mauw" />
              </aside>
            </div>


            
          </article>
        
        </section>

    <section class="vh-100 w-100 ma0 pa0 white dt bg-raspberry" id="feedback">
      <article class="cf" id="per">
        <div class="fl w-100 w-50-ns pa3 pa2-ns">          
          <div class="ml-auto mr-auto measure">
            <header class=" pv4 tc">
              <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Mauw</h3>
              <h4 class="f5 fw4 lh-title mt0 ttu tracked">Yeah, yeah, yeah.</h4>
            </header><hr class="bb b--white-70" />
            <main class="serif lh-copy f4">
              <p>Why not?</p>
              <p>Just because.</p>
              <p>PabloWoodward. Etc...</p>
            </main>
          </div>
        </div>
        <aside class="fl w-100 w-50-ns tc ">
          <figure class="aspect-ratio aspect-ratio--1x1 top0 ma0">
            <div class="aspect-ratio--object cover" style="background:url(images/iwa-pablowoodward-01.jpg) center;"></div>
          </figure>
        </aside>
      </article>
      <article class="cf" id="per">
        <aside class="fl w-100 w-50-ns tc ">
          <figure class="aspect-ratio aspect-ratio--1x1 top0 ma0">
            <div class="aspect-ratio--object cover" style="background:url(images/iwa-per-01.jpg) center;"></div>
          </figure>
        </aside>
        <div class="fl w-100 w-50-ns pa3 pa2-ns">
          <div class="ml-auto mr-auto measure">
            <header class=" pv4 tc">
              <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Be seen</h3>
              <h4 class="f5 fw4 lh-title mt0 ttu tracked">Written for your audience</h4>
            </header><hr class="bb b--white-70" />
            <main class="serif lh-copy f4">
              <p>Have you wondered why agencies don't prioritise your content?</p>
              <p>Writing is hard.</p>
              <p>By defining content from the very begining, we can focus entirely on your customer needs. This is an
                effective way to begin our design after the discovery phase.</p>
              <p>Developing an SEO strategy is a process. By evolving your written content around keywords that visitors are
                really seeking we can adapt and fine-tune your project's design.</p>
            </main>
          </div>
        </div>
      </article>
  </div>


  <section class="vh-100 w-100 white dt bg-mandarino" id="contact">
    
    <div class="mw9 center ">
      <div class="cf ">
        <div class="fl w-100 w-50-ns ">
          <div class="ml-auto mr-auto measure ">
            <header class=" pv4 tc">
              <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Be seen</h3>
              <h4 class="f5 fw4 lh-title mt0 ttu tracked">Written for your audience</h4>
            </header>
            <hr class="bb b--white-70" />
            <main class="serif lh-copy f4">
              <p>Have you wondered why agencies don't prioritise your content?</p>
              <p>Writing is hard.</p>
              <p>By defining content from the very begining, we can focus entirely on your customer needs. This is an
                effective way to begin our design after the discovery phase.</p>
              <p>Developing an SEO strategy is a process. By evolving your written content around keywords that visitors are
                really seeking we can adapt and fine-tune your project's design.</p>
            </main>
          </div><!-- /ml-auto mr-auto measure -->
        </div><!-- /fl w-100 w-50-ns -->
        <div class="fl w-100 w-50-ns bg-white">
          <aside class="tc pa4 h5 mv7 ">
            <img class="w4 w4 " src="images/271549.svg" alt="alt" />
          </aside>
        </div>
      </div>
    </div>

    <div class="flex items-center w-100 ">
      <div class="bg-gray w-100 mandarino "><!-- fl -->
        
        <div class="ml-auto mr-auto measure ">
          <header class=" pv4 tc">
            <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Be seen</h3>
            <h4 class="f5 fw4 lh-title mt0 ttu tracked">Written for your audience</h4>
          </header>
          <hr class="bb b--white-70" />
          <main class="serif lh-copy f4">
            <p>Have you wondered why agencies don't prioritise your content?</p>
            <p>Writing is hard.</p>
            <p>By defining content from the very begining, we can focus entirely on your customer needs. This is an
              effective way to begin our design after the discovery phase.</p>
            <p>Developing an SEO strategy is a process. By evolving your written content around keywords that visitors are
              really seeking we can adapt and fine-tune your project's design.</p>
          </main>
        </div><!-- /ml-auto... -->

      </div>
      <div class="w-100 "><!--fl  bg-white green -->
        <aside class="tc pa4">
          <img class="w4 w4" src="images/271549.svg" alt="alt" />
          <!-- <h1 class="f6 f2-m f-subheadline-l fw6 "><span class="i serif ">(i)</span></h1> -->
        </aside>
      </div>
    </div>
  </section>
</main>
</div>
</div>

    <!-- Javascript -->
    <script src="{{ .Site.BaseURL }}js/smooth-scroll.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/gumshoe.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      /* */
      var spy = new Gumshoe('#scrollSpy a');
    </script>
</body>
</html>


